#root {
  text-align: center;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.box ul {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-right: 50px;
}

.box li {
  list-style: none;
}

